{% extends "basefile.html" %}

{% block xyz %}
<form style="padding: 32px; padding-left: 15%; padding-right: 20%;" action="/update-this-data/{{xyz.id}}" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Todo Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Title" name="title" value = {{xyz.Title}}>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Message</label>
      <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Message here" rows="5" name="msg">{{xyz.Message}}</textarea>
    </div>
    
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Update Todo</button>
    </div>
  </form>

{% endblock xyz %}